			<head>
			<meta charset="utf-8"/>
			<link rel="stylesheet" type="text/css" href="css/estiloCadastro.css">
			</head>
			
			<section>
				
				<div class="menuLateral">
					<h4>Opções</h4><br/>
					<ul type="none">
						<li id="cadastrar"><a ng-click="global.isReplyFormOpen = false">Cadastrar</a></li>
						<li id="listar"><a ng-click="global.isReplyFormOpen = true">Listar</a></li>
						<li id="alterar"> Alterar</li>
					</ul>
				</div>
				
				<div class="tela">
					
					<h2>Clientes</h2>
					<form style="text-align: center; ">
						<input type="search" placeholder="Buscar cliente pelo nome" id="getByName"/>
						<button type="submit">
						<i class="fa fa-search"></i>
						</button>
					
					<div id="cadastro" ng-show="!global.isReplyFormOpen">
						<div class="left" style="float: left;">
							<p>Nome:<input type="text" ng-model="cliente.nome"/></p>
							<p>Raça:<input type="text" ng-model="cliente.raca"/></p>
							<p>Porte:<input type="text" ng-model="cliente.porte"/></p>
						</div>
						<div class="right">
							<p>Cor:<input type="text" ng-model="cliente.cor"/></p>
							<p>Dono:<input type="text" ng-model="cliente.dono"/></p>
							<p>Telefone (12):<input type="text" ng-model="cliente.telefone"/></p>
							Observações: <textarea style="width: 500px; height: 100px;" ng-model="cliente.obs"></textarea><br/>
							<input type="button" value="Salvar" data-ng-click="salvarCliente()"/>
						</div><br/>
					</div>
					</form>
					
						
						<div class="table" style="float: left;" ng-show="global.isReplyFormOpen" id="replyForm">
							<table border="1" id="tabela">
									<tr>
										<th>Nome</th>
										<th>Raça</th>
										<th>Porte</th>
										<th>Cor</th>
										<th>Dono</th>
										<th>Telefone</th>
									</tr>
									
									<tr data-ng-repeat="cli in listaClientes"> 
										<td>{{cli.nome}}</td>
										<td>{{cli.raca}}</td>
										<td>{{cli.porte}}</td>
										<td>{{cli.cor}}</td>
										<td>{{cli.dono}}</td>
										<td>{{cli.telefone}}</td>
										<td><a href='#/clienteDetalhe/{{cli.id}}'>Detalhes</a></td>
									</tr>
									
								
							</table>
						
					</div>
					
				
				</div>
			
			</section>
			