<!DOCTYPE>
<html>
	<head>
	<meta charset="utf-8"/>
	<title>Clientes</title>
	<link rel="stylesheet" type="text/css" href="css/estiloCadastro.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/angular.js"></script>
	<script src="js/cadastro.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	</head>
		<body>
			<header>
				<div class="section">
					<img id="usuario" src="images/userhome.png"/>
				</div>
				<img id="logo" src="images/logo.png"/>
				<ul class=menu>
					<li class="fa fa-home" id="primeiro"><a href="#/home"> Inicio</li></a>
					<li class="fa fa-caret-down" id="cliente"><a href="#/cadastro"> Clientes</a>
					<li class="fa fa-dollar"><a href="#/financeiro"> Financeiro</li></a>
					<li class="fa fa-camera"><a href="#/galeria"> Galeria</li></a>
					<li class="fa fa-calendar"><a href="#/agenda"> Agenda</li></a>
					<span id="claudia">Olá Claudia Rocha</span><input id="busca"type="text" placeholder="Buscar no site"/>
				</ul>
			</header>
			
			
			
			
			<section>
				
				<div class="menuLateral">
					<h4>Opções</h4><br/>
					<ul type="none">
						<li id="cadastrar"> Cadastrar</li>
						<li id="listar"> Listar</li>
						<li id="alterar"> Alterar</li>
					</ul>
				</div>
				
				
				
				<div class="tela">
					
					<h2>Clientes</h2>
					<form style="text-align: center; ">
						<input type="search" placeholder="Buscar cliente pelo nome" />
						<button type="submit">
						<i class="fa fa-search"></i>
						</button>
					</form>
					
					<div id="cadastro">
						<div class="left" style="float: left;">
							<p>Nome:<input type="text" ng-model=""/></p>
							<p>Raça:<input type="text" ng-model=""/></p>
							<p>Porte:<input type="text" ng-model=""/></p>
						</div>
						<div class="right">
							<p>Cor:<input type="text" ng-model=""/></p>
							<p>Dono:<input type="text" ng-model=""/></p>
							<p>Telefone (12):<input type="text" ng-model=""/></p>
							Observações: <textarea style="width: 500px; height: 100px;"></textarea><br/>
						</div><br/>
						<input type="button" value="Salvar Cliente" ng-click=""/>
					</div>
					
					
					
					
					<div id="lista">
						
						<div class="tabela" style="float: left;">
							<table border="1">
									<tr>
										<th>Nome</th>
										<th>Raça</th>
										<th>Porte</th>
										<th>Cor</th>
										<th>Dono</th>
										<th>Telefone</th>
									</tr>
									
									<tr> 
										<td>ola mundo</td>
										<td>ola mundo</td>
										<td>ola mundo</td>
										<td>ola mundo</td>
										<td>ola mundo</td>
										<td>ola mundo</td>
										<th><a href=''>Editar</a>
									</tr>
									
								
							</table>
						
					</div>
					
				
				</div>
			
			</section>
			
			
			
			
			
			
			
			
			<footer class="rodape">
				<div class="conteudo">
					<div class="1">
						<figure>
							<img src="images/rb.png">
								<figcaption style="color:white;">Designed by Rodrigo Rocha Bueno &copy 2017</figcaption>
						</figure>
					</div>
					<div class="2">
						<h4 style="color:white; font-family: arial;">Features</h4><br/>
						<a style="color:white; font-family: arial;"> 
							Code review<br/><br/>
							Project management<br/><br/>
							Integrations<br/><br/>
							Community<br/><br/>
							Documentation<br/><br/>
							Code hosting<br/><br/>
						</a>
					</div>
					<div class="3" style="margin-left: 55px;">
						<h4 style="color:white; font-family: arial;">Platform</h4><br/>
						<a style="color:white; font-family: arial;"> 
							Atom<br/><br/>
							Electron<br/><br/>
							GitHub Desktop<br/><br/>
							Developers<br/><br/>
						</a>
					</div>
					<div class="4" style="margin-left: 55px;">
						<h4 style="color:white; font-family: arial;">Community</h4><br/>
						<a style="color:white; font-family: arial;"> 
							Personal<br/><br/>
							Open source<br/><br/>
							For Business<br/><br/>
							For Education<br/><br/>
							Sponsorships<br/><br/>
						</a>
					</div>
					<div class="social">
						<img src="images/git.png" style="margin-left: 150px;"/>
						<img src="images/facebook.png"/>
						<img src="images/twitter.png"/>
						<img src="images/blogger.png"/>
						<img src="images/google.png"/>
					
					</div>
				</div>
				</div>
				
			
			</footer>
	
		</body>
</html>