<div>

<h2>Cadastrar Estado</h2><br/>

<form name='frmEstado'>
estado UF: <input type="text" placeholder="Digite seu estado" name='txtUf' data-ng-model='estado.uf' data-required data-ng-maxlenght='2'/><br/>
<input type="button" value="salvar" data-ng-disabled="frmEstado.$invalid" data-ng-click="salvarEstado()"/>
</form>

<input type='button' value='listar Estados' data-ng-click="carregarEstados()"/>
<div data-ng-repeat="es in estados">
	{{es.uf}}<br/>
</div>

*******************************************************

<h3>Excluir estado por nome</h3><br/>
<input type='text' data-ng-model='deletar'/><br/>
<input type='button' value='excluir' data-ng-click='deletarEstado()'>

</div>