/* Menu - Lateral */

.menuLateral{
	box-shadow: 0 4px 2px -2px gray;
	border: solid 1px gray;
	width: 250px;
	float: left;
	text-align: center;
	margin-bottom: 50px;
}

.menuLateral h4{
	font-family: arial;
	color: white;
	background: red;
	padding: 5px;
}

.menuLateral ul li{
	font-family: arial;
	border: solid 1px gray;
	border-radius: 10px;
	margin-right: 30px;
	margin-top: 5px;
	margin-left: 0px;
	padding: 3px;
}

.menuLateral ul li:hover {
	background-color: red;
	color: white;
	
}



/* Fim Menu - Lateral */


/*tela - cadastro */

#cadastro{
	margin: 30px;
	width: 600px;
	border: solid 1px gray;
	float: left;
	padding: 20px;
	text-align: center;
	box-shadow: 0 4px 2px -2px gray;
}

#cadastro input {
	border-radius: 10px;
	border: solid 1px black;
}

/**************/


/*Tela - Lista de Clientes */


#lista{
	box-shadow: 0 4px 2px -2px gray;
	margin: 30px;
	width: 600px;
	border: solid 1px gray;
	float: left;
	padding: 20px;
	text-align: center;
}


/***************************/