
header{
	background-color: white;
	padding: 7px;
	box-shadow: 0 4px 2px -2px gray;
}

header a{
	text-decoration: none;
	color: black;
}

header li:hover a{
	color: white;
}

.menu li{
	padding: 5px;
	display: inline;
	margin-right: 50px;
	color: black;
	padding: 20px;
}

#logo{
	position: relative;
	width: 45px;
	float: left;
	margin-right: 40px;
	padding: 0;
}

.menu li:hover{
	border-radius: 5px;
	background-color: #1C1C1C;
	color: white;
}

#usuario {
	float: right;
	height: 50px;
}

.section:hover ul{
	display: block;
}

#claudia {
	position: relative;
	color: black;
	font-family: arial;
	text-align: right:
}

#busca {
	margin-left: 10px;
	border-radius: 5px;
}

#config{
	display: none;
}

/*Sub-menus*/

.subs{
	display: none;
	color: black;
}

.menu ul li:hover ul li{
	display: block;
}


/*Fim Cabeçalho*/
