.meio img{
	width: 100%;
}

.dentroimg{
	color: white;
	position: absolute;
	margin-top: -200px;
}

/*fade in eventos*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*fim fade in*/

.eventos div{
	margin-left: 95px;
	margin-bottom: 250px;
	padding: 15px;
	box-shadow: 10px 10px 5px #888888;
	-webkit-animation: fadein 3s;
	
}

.eventos div img{
	margin: 0px;
	align: left;
	width: 85px;
	border: solid 4px white;
}

.evento1{
	position: relative;
	width: 280px;
	height: 300px;
	margin-top: 10px;
	margin-left: 5px;
	border-radius: 5px;
	background-color: #FFD700;
	text-align: center;
	float: left;
}

.evento1 label{
	padding-top: 50px;
}

.evento2{
	position: relative;
	width: 280px;
	height: 300px;
	margin-top: 10px;
	margin-left: 5px;
	border-radius: 5px;
	background-color: #FF4500;
	text-align: center;
	float: left;
}

.evento2 label{
	padding: 10px;
}

.evento3{
	position: relative;
	width: 280px;
	height: 300px;
	background-color: green;
	margin-top: 10px;
	margin-left: 5px;
	border-radius: 5px;
	text-align: center;
	float: left;
}

.evento3 label{
	padding: 10px;
}
